@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,input{
    font-family:'Poppins', sans-serif ;
}

.container{
    position: relative;
    width: 100%;
    background: white;
    min-height: 100vh;
    overflow: hidden;
}

.container:before{
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    background: linear-gradient(-45deg,  #00bfa6 10%, #2552AB 80%);
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signIn-signUp{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s .7s ease-in-out;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 5rem;
    overflow: hidden;
    transition: 0.2s 0.7s ease-in-out;
}

form.sign-in-form{
    z-index: 2;
}

form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background: #f0f0f0;
    margin: 10px 0;
    border-radius: 45px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
    position: relative;
}

 .input-field i{
    text-align: center;
    line-height: 50px;
    color: #acac;
    font-size: 1.1rem;
} 

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 49px;
    background: #88D6C8;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all .5s;
    cursor: pointer;
}

.btn:hover{
    background-color: #2552AB;
    transition: 0.5s;
}

.bx{
    width: 40px;
    height: 20px;
}

.search button{
    background-color: #00bfa6;
    width: 40px;

}

.social-text{
    padding: .7rem 0;
}

.sosmed{
    display: flex;
    justify-content: center;

}

.sosmed-icon{
    height: 46px;
    width: 46px;
    border: 1px solid #000;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none ;
    color: #000;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: .5s;
}

.sosmed-icon:hover{
    color: #333;
    border-color: #333;
    
}

.panels-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.panel .content{
    color: #fff;
    transition: .9s .6s ease-in-out;

}

.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p{
    font-size: .95rem;
    padding: .7rem 0;
}

.btn.transparant{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 40px;
    font-weight: 600;
    font-size: 0.8rem;
}

.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%
}

.image{
    width: 100%;
    transition: 1.1s .4s ease-in-out;
}

.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}

.container.sign-up-active:before{
    transform: translate(100%, -50%);
    right: 52%; 
}

.container.sign-up-active .left-panel .image,
.container.sign-up-active .left-panel .content{
    transform: translateX(-800px);
}

.container.sign-up-active .right-panel .content, 
.container.sign-up-active .right-panel .image{
    transform: translateX(0px);
}

.container.sign-up-active .left-panel{
    pointer-events: none;
}

.container.sign-up-active .right-panel{
    pointer-events: all;
}

.container.sign-up-active .signIn-signUp{
    left: 25%;
}

.container.sign-up-active form.sign-in-form{
    z-index: 1;
    opacity: 0;
}

.container.sign-up-active form.sign-up-form{
    z-index: 2;
    opacity: 1;
}


.info-table{
    width: 1000px;
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
  }

 .info-table .card{
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .7);
  }

.head h2{
    font-size: 30px;
    font-weight: 600;
  }

.head p{
    font-size: 15px;
    font-weight: 400;
  }

/* CONTENT */